<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:tiles="http://www.thymeleaf.org" xmlns:spring="http://www.springframework.org/tags" lang="ru">

<head>
    <title>Robot control system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/robot.css" th:href="@{/css/robot.css}"/>
    <script th:src="@{/js/jquery_2_2_5.js}" type="text/javascript"></script>
    <script th:src="@{/js/updateSignals.js}"></script>
</head>

<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-item logo"><img src="../../images/polytech_logo.svg" th:src="@{/images/polytech_logo.svg}" alt=""></div>
        <div class="header-item title"><span>Курсовая работа по курсу "Системы реального времени"</span></div>
        <div class="header-item students">
            <div class="students-names">
                <div>Боднар Ирина Михайловна</div>
                <div>Мамонтов Яков Сергеевич</div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="controls">
            <form id="forward" th:action="@{/forward}" method='post'>
                <div>
                    <button class = "btn" type="submit" name="forward">&#9650;</button>
                </div>
            </form>
            <form id="stop" th:action="@{/stop}" method='post'>
                <div>
                    <button class = "btn" type="submit" name="stop"></button>
                </div>
            </form>
            <div class="clearfix"></div>

            <form id="back" th:action="@{/back}" method='post'>
                <div >
                    <button class = "btn" type="submit" name="back">&#9660;</button>
                </div>
            </form>

            <form id="left" th:action="@{/left}" method='post'>
                <div>
                    <button class = "btn" type="submit" name="left">&#9668;</button>
                </div>
            </form>

            <form id="right" th:action="@{/right}" method='post'>
                <div>
                    <button class = "btn" type="submit" name="right">&#9658;</button>
                </div>
            </form>


        </div>

        <div class="robot">

            <div class="robot-chassis">
                <img src="../../images/robo_body.png" alt="cat1" title="robot"
                     th:src="@{/images/robo_body.png}" th:alt-title="#{title.application}"/>

                <div class="collision-indicator bumper-rf bumper-no-collision"></div>
                <div class="collision-indicator bumper-rb bumper-no-collision"></div>
                <div class="collision-indicator bumper-lf bumper-no-collision"></div>
                <div class="collision-indicator bumper-lb bumper-no-collision"></div>

                <div class="collision-indicator iri-forward iri-no-collision">
                    <img class="visible iri-no-collision" src="../../images/robo_ir_front_0.png" alt="cat1" title="robot"
                         th:src="@{/images/robo_ir_front_0.png}" th:alt-title="#{title.application}"/>
                    <img class="invisible  iri-collision" src="../../images/robo_ir_front_1.png" alt="cat1" title="robot"
                         th:src="@{/images/robo_ir_front_1.png}" th:alt-title="#{title.application}"/>
                </div>
                <div class="collision-indicator iri-back iri-no-collision">
                    <img class="visible iri-no-collision" src="../../images/robo_ir_back_0.png" alt="cat1" title="robot"
                         th:src="@{/images/robo_ir_back_0.png}" th:alt-title="#{title.application}"/>
                    <img class="invisible iri-collision" src="../../images/robo_ir_back_1.png" alt="cat1" title="robot"
                         th:src="@{/images/robo_ir_back_1.png}" th:alt-title="#{title.application}"/>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">

    </div>
</div>
</body>

</html>