<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Robot control system</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="../../css/robot.css" th:href="@{/css/robot.css}"/>
        <script th:src="@{/js/jquery_2_2_5.js}" type="text/javascript"></script>
        <!--<script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
          var CURRENT_SIGNALS = [[${session.currentSignals}]];
          var CURRENT_SIGNALS = /*[[${currentSignals}]]*/'';
    -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var CURRENT_SIGNALS = [[${session.currentSignals}]];
            /*]]>*/
        </script>
        <!--<script th:replace="include :: script.jquery-with-plugins"></script>-->
        <script th:src="@{/js/updateSignals.js}"></script>
    </head>

    <body>

        <div align="right">
            <img src="../../images/cat.jpeg" alt="Cat" title="Cat" width="400" height="320"
                th:src="@{/images/cat.jpeg}" th:alt-title="#{title.application}"/>
        </div>

        <form  th:action="@{/forward}" method='post'>
            <div  id = "forward">
                <button class = "btn" type="submit" name="forward" th:text="#{button.forward}">Forward</button>
            </div>
        </form>

        <form  th:action="@{/back}" method='post'>
            <div  id = "back">
                <button class = "btn" type="submit" name="back" th:text="#{button.back}">Back</button>
            </div>
        </form>

        <form  th:action="@{/left}" method='post'>
            <div  id = "left">
                <button class = "btn" type="submit" name="left" th:text="#{button.left}">Back</button>
            </div>
        </form>

        <form  th:action="@{/right}" method='post'>
            <div  id = "right">
                <button class = "btn" type="submit" name="right" th:text="#{button.right}">Back</button>
            </div>
        </form>

        <form  th:action="@{/stop}" method='post'>
            <div  id = "stop">
                <button class = "btn" type="submit" name="stop" th:text="#{button.stop}">Back</button>
            </div>
        </form>

    </body>

</html>